.git
.gitignore
.venv
.env
venv
__pycache__
*.pyc
keys/
node_modules
.next
.DS_Store
README.md
Dockerfile
deploy.sh
**/node_modules
**/.next

!package-lock.json
!package.json
!my-copilot-app/package.json
!my-copilot-app/package-lock.json
!uv.lock

# Overrides
!keys/