.git
.gitignore
.venv
venv
__pycache__
*.pyc
keys/
node_modules
.next
.DS_Store
README.md
Dockerfile
deploy.sh
my-copilot-app/node_modules
my-copilot-app/.next

!package-lock.json
!package.json
!my-copilot-app/package.json
!my-copilot-app/package-lock.json
!uv.lock