# OS files
.DS_Store

# Environments
.env
.venv/
venv/
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Node / Frontend
node_modules/
.next/
out/
.vercel
/my-copilot-app/.next/
/my-copilot-app/node_modules/
